[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlmodel = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
alembic = "*"
aiosqlite = "*"
greenlet = "*"
pydantic = "*"
pydantic-settings = "*"
numpy = "*"
python-dotenv = "*"
apscheduler = "*"
structlog = "*"
psutil = "*"
python-dateutil = "*"
forex-python = "*"
yfinance = "*"
pandas = "*"
pandas-ta-classic = "==0.6.52"
ta-lib = "==0.7.1"
httpx = "*"
beautifulsoup4 = "*"
sqlglot = "*"
pycountry = "*"
mkdocs = ">=1.6,<2"
mkdocs-material = "*"
websockets = "*"
uvicorn = "*"
starlette = "*"
mergedeep = "*"
websocket-client = "*"
python-multipart = "*"
babel = "*"
theine = "*"
bcrypt = "*"
email-validator = "*"
python-magic = "*"
argcomplete = "*"
pillow = "*"
PyJWT = "*"
mkdocs-static-i18n = "*"
scipy = "*"
quantlib = "==1.43"
riskfolio-lib = "==7.0.1"
justetf-scraping = {git = "https://github.com/Librefolio/justetf-scraping.git", ref = "main"}
xlrd = "*"
openpyxl = "*"
borsa-italiana-scraping = {git = "https://github.com/Librefolio/borsaItaliana-scraping.git", ref = "main"}
ddgs = "*"
pyyaml = "==6.0.3"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
black = "*"
ruff = "*"
mypy = "*"
pytest-cov = "*"
coverage = {extras = ["toml"], version = "*"}
gevent = "*"
tabulate = "*"
aphra = {git = "https://github.com/DavidLMS/aphra.git", ref = "main"}
graphifyy = "*"
autobatcher = "*"
vulture = "*"

[requires]
python_version = "3.13"
